// ================================================================================
// + Nombre
// --------------------------------------------------------------------------------

@use "sass:math";
@use "sass:color";

$Nombre_Width: 140px;
$Nombre_Height: 20px;

$Nombre_KeyColor: rgb(48,48,48);

$Nombre-Current_Color: $Nombre_KeyColor;
$Nombre-Delimiter_Color: color.adjust($Nombre_KeyColor, $lightness: 20%);
$Nombre-Total_Color: color.adjust($Nombre_KeyColor, $lightness: 10%);
$Nombre-Percent_Color: color.adjust($Nombre_KeyColor, $lightness: 20%);
$Nombre_BackgroundColor: rgba(color.adjust($Nombre_KeyColor, $lightness: 77%), .9);

$Nombre_KeyColor__SliderOpened: $Slider_KeyColor;
$Nombre-Current_Color__SliderOpened: $Nombre_KeyColor__SliderOpened;
$Nombre-Delimiter_Color__SliderOpened: color.adjust($Nombre_KeyColor__SliderOpened, $lightness: 20%);
$Nombre-Total_Color__SliderOpened: color.adjust($Nombre_KeyColor__SliderOpened, $lightness: 10%);
$Nombre-Percent_Color__SliderOpened: color.adjust($Nombre_KeyColor__SliderOpened, $lightness: 20%);
$Nombre_BackgroundColor__SliderOpened: transparent;